header{
    position: fixed;
    background-color: aquamarine;
    width: 100%;
    z-index: 1;
}

ul{
    list-style: none;
    text-align: center;
}

li{
    display: inline;
}

a{
    text-decoration: none;
}

.mainContent{
    position: relative;
    background-color: beige;
    top: 50px;
    padding: 20px;
    height: 1000px;
}